html {
  background-color: #e6e1d4;
  scroll-behavior: smooth;
}

.noise-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: url("./assets/noise.png");
  opacity: 0.3;
}

#cursor-chat-layer {
  font-size: 1rem;
}

#telescope .details ol,
#telescope .details li {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
}

#telescope .details li {
  display: list-item;
}

.drop > #telescope .expanded > span > h3 {
  display: block;
  margin: 0 0 0.5em;
}

.drop > #telescope > p {
  margin: 0.5em 0;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 1.4rem;
  margin: 0;
  color: #0e202f;
}

a {
  color: #0e202f;
}

#main-content {
  box-sizing: border-box;
  padding: 10vh 4em 10vh 6em;
  flex: 0 0 50%;
  max-height: 100vh;
  overflow-y: auto;
}

ol {
  padding-left: 1.25em;
}

#main-logo {
  height: 100px;
  width: 100px;
  margin: 2em 0;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.two-pane {
  display: flex;
  max-height: 100vh;
  position: relative;
}

#context-pane {
  flex: 0 0 50%;
  max-height: 100vh;
  overflow-y: auto;
  border-left: 2px solid rgba(169, 186, 164, 0.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  animation: fadeIn ease 2s;
  pointer-events: none;
  z-index: -1;
}

.socials {
  opacity: 0.5;
  padding: 0;
  list-style: none;
}

#contexts {
  z-index: 1;
  padding: 10vh 6em 10vh 4em;
}

#artifact-list {
  list-style: none;
  padding: 0;
  margin: 1em 0 0 -1em;
}

.date,
.socials,
a {
  font-family: Roboto Mono, monospace;
  font-size: 1rem;
}

.drop {
  margin: 0;
  padding: 1em;
  border: 1px solid #00000000;
  transition: border 2s ease;
  border-radius: 5px;
}

.drop > a {
  display: block;
  opacity: 0.5;
}

.drop > h3 {
  margin: 0.25em 0;
}

.date {
  margin: 0;
}

#about {
  margin: 2em 0;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.magic {
  font-weight: bold;
  background: linear-gradient(
      90deg,
      #0000 33%,
      rgba(255, 255, 255, 0.2) 50%,
      #0000 66%
    )
    #a9baa4;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s ease infinite;
  cursor: pointer;
}

.drop-highlight {
  border: 1px solid #0e202f;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 780px) {
  .two-pane {
    flex-direction: column;
  }

  #canvas {
    display: none;
  }

  #main-content {
    margin: 5vh 0;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  #contexts {
    padding: 0 2em;
    margin: 0 0;
  }

  #main-content {
    padding: 0 2em;
  }

  #context-pane {
    max-height: unset;
    overflow-y: visible;
  }
}
